@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    --theme-title-color: #34495E;
    --theme-text-color: #000000;
    --theme-important-element: #8E44AD;
    --theme-secondary-element: #3498DB;
    --theme-border: #BDC3C7;
    --theme-bg-1: #ECF0F1;
    --theme-default: #FFFFFF;
}

body {
    background-color: var(--theme-default);
}